@import 'variables';
@import 'mixins';

input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid $hb-input-not-active;
  border-radius: 0;
  color: $hb-white;
  cursor: text;
  font-size: $hb-font-size;
  padding: 0;
  width: 100%;

  &:focus {
    border-bottom: 1px solid $hb-white;
    outline: 0;
  }
}

.error-message {
  color: $hb-input-error-message;
  font-size: 14px;
  padding: $hb-gutter-size-small;
  text-align: center;
  width: 100%;
}

.floating-label-input {
  margin-bottom: 1rem;
  position: relative;

  > input,
  > label {
    padding: 12px;
  }

  > label {
    @include position(absolute, 0px 0 0 0px);
    border: 1px solid transparent;
    color: $hb-input-not-active;
    display: block;
    margin-bottom: 0;
    user-select: none;
    transition: all 100ms ease-in-out;
    width: 100%;
  }

  input {
    &:focus {
      ~ label {
        color: $hb-white;
        user-select: none;
      }
    }

    &:not(:placeholder-shown) {
      padding-bottom: 4px;
      padding-top: calc(12px + 12px * (2 / 3));

      ~ label {
        color: $hb-input-not-active;
        font-size: 12px;
        padding-bottom: 4px;
        padding-top: 0;
        user-select: none;
      }
    }

    /* stylelint-disable */
    &::-webkit-input-placeholder {
      color: transparent;
    }

    &:-ms-input-placeholder,
    &::-ms-input-placeholder,
    &::-moz-placeholder,
    &::placeholder {
      color: transparent;
    }

    /* stylelint-enable */
  }
}
