@import 'variables';
@import 'mixins/size';

:host {
  align-items: center;
  background: $hb-background-to-color;
  box-shadow: $hb-black 0 1px 24px 0;
  color: $hb-white;
  display: flex;
  justify-content: center;
  padding: $hb-gutter-size-small $hb-gutter-size;
  z-index: 1;

  h2 {
    flex: 1;
    margin: 0;
  }

  hb-icon {
    @include size($hb-gutter-size-small * 3);
    fill: $hb-white;
    margin: $hb-gutter-size-small $hb-gutter-size-small $hb-gutter-size-small 0;
  }
}
