<header class="authenticate-header">
  <hb-icon [name]="'logo'"></hb-icon>
  <h2>Two-factor authentication</h2>
</header>
<section class="authenticate-body">
  <form class="auth-form" (ngSubmit)="verifyAuthToken(code.value)">
    <div class="floating-label-input">
      <input #code type="text" maxlength="6" name="authcode" id="authcode" required
             autofocus="true" autocomplete="false">
      <label for="authcode">Two-factor code</label>
    </div>
    <span class="error-message" *ngIf="error">
        {{ error }}
      </span>
    <button type="submit" class="btn btn-primary">
      Verify
    </button>
  </form>
  <div class="description">
    <hb-icon [name]="'mobile'"></hb-icon>
    <span>Open the two-factor authentication app on your device to view your authentication code and verify your identity.</span>
  </div>
</section>
