@import 'variables';
@import 'mixins/size';

:host {
  background: $hb-background-color;
  color: $hb-white;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  padding: $hb-gutter-size;

  .authenticate-header {
    align-items: center;
    display: flex;
    flex-direction: column;

    hb-icon {
      @include size($hb-gutter-size * 10);
      fill: $hb-white;
      margin-bottom: $hb-gutter-size;
    }

    h2 {
      text-align: center;
    }
  }

  .authenticate-body {
    align-items: center;
    display: flex;
    flex-direction: column;

    .auth-form {
      display: flex;
      flex-direction: column;
    }

    .input-fields {
      border: 2px solid $hb-white;
      border-radius: $hb-gutter-size;
      max-width: 360px;
      padding: $hb-gutter-size $hb-gutter-size * 2 $hb-gutter-size * 2;
    }

    .description {
      display: flex;
      font-size: 14px;
      margin-top: $hb-gutter-size * 2;
      max-width: 320px;

      hb-icon {
        @include size(10px, 16px);
        fill: $hb-white;
        flex-shrink: 0;
        margin-right: $hb-gutter-size-small;
        margin-top: 5px; // Visual fix
      }
    }
  }
}
