<header class="authenticate-header">
  <h1>Setup</h1>
  <h1>Two-factor authentication</h1>
</header>

<section class="authenticate-body">
  <img class="qr-image" alt="two factor auth qr code" *ngIf="QRLink" [src]="QRLink">

  <form class="auth-form" (ngSubmit)="verifyAuthToken(code.value)">
    <div class="floating-label-input">
      <input #code type="text" maxlength="6" name="authcode" id="authcode"
             autofocus="true" autocomplete="false" required>
      <label for="authcode">Two-factor code</label>
    </div>
    <span class="error-message" *ngIf="error">
        {{ error }}
      </span>
    <button type="submit" class="btn btn-primary">
      Verify
    </button>
  </form>
  <div class="description">
    <hb-icon [name]="'mobile'"></hb-icon>
    <span>Open the two-factor authentication app on your device to scan the qr code and verify your identity.</span>
  </div>
</section>
