<section class="register-content">
  <header class="register-header">
    <h2>Header title</h2>
    <img src="">
  </header>
  <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()" autocomplete="off">
    <div class="floating-label-input">
      <input type="text"
             id="username"
             formControlName="username"
             placeholder="Username">
      <label for="username">Username</label>
      <hb-icon [name]="'user-profile'"></hb-icon>
    </div>
    <div class="floating-label-input">
      <input type="password"
             id="password"
             placeholder="Password"
             autocomplete="false"
             formControlName="password">
      <label for="password">Password</label>
      <hb-icon [name]="'password'"></hb-icon>
    </div>
    <div class="floating-label-input">
      <input type="password"
             id="password-repeat"
             placeholder="Repeat password"
             autocomplete="false"
             formControlName="passwordRepeated">
      <label for="password-repeat">Repeat password</label>
      <hb-icon [name]="'password'"></hb-icon>
    </div>

    <span class="error-message" *ngIf="error">
        {{error}}
    </span>
    <span class="error-message" *ngIf="registerForm.errors?.invalid && (registerForm.touched || registerForm.dirty)">
        Passwords don't match!
      </span>

    <button type="submit"
            [disabled]="!registerForm.dirty || !registerForm.valid"
            class="btn btn-primary">
      REGISTER
    </button>
  </form>
  <footer class="register-footer">
    <div class="login">
      <span>Already have a account?</span>
      <a class="login-link" [routerLink]="['../login']">Log in</a>
    </div>
  </footer>
</section>
