<main>
  <header>
    <img src="">
  </header>
  <section>
    <form class="register-form" (ngSubmit)="onRegisterSubmit()" #registerForm="ngForm">
      <div class="floating-label-input">
        <input type="text" name="username" id="username" placeholder="Username">
        <label for="username">Username</label>
        <hb-icon [name]="'user-profile'"></hb-icon>
      </div>
      <div class="floating-label-input">
        <input type="password" name="password" id="password" placeholder="Password" autocomplete="false">
        <label for="password">Password</label>
        <hb-icon [name]="'password'"></hb-icon>
      </div>
      <div class="floating-label-input">
        <input type="password" name="password-repeat" id="password-repeat" placeholder="Repeat password"
               autocomplete="false">
        <label for="password-repeat">Repeat password</label>
        <hb-icon [name]="'password'"></hb-icon>
      </div>
      <button type="submit" class="btn btn-primary">
        REGISTER
      </button>
    </form>
  </section>
  <footer class="register-footer">
    <div class="login">
      <span>Already have a account?</span>
      <a class="login-link" [routerLink]="['../login']">Log in</a>
    </div>
  </footer>
</main>
