<section class="login-content">
  <header class="login-header">
    <hb-icon [name]="'logo'"></hb-icon>
    <h2>Merema's Home</h2>
  </header>
  <form class="login-form" (ngSubmit)="onLoginSubmit(username.value, password.value)" #loginForm="ngForm"
        autocomplete="off">
    <div class="floating-label-input">
      <input #username type="text" name="username" id="username" autofocus="true"
             autocomplete="false" required>
      <label for="username">Username</label>
      <hb-icon [name]="'user-profile'"></hb-icon>
    </div>
    <div class="floating-label-input">
      <input #password type="password" name="password" id="password" autocomplete="false" required>
      <label for="password">Password</label>
      <hb-icon [name]="'password'"></hb-icon>
    </div>
    <span class="error-message" *ngIf="error">
        {{ error }}
    </span>
    <button type="submit" class="btn btn-primary">
      LOG IN
    </button>
  </form>
</section>
<!--<footer class="login-footer">-->
<!--<a class="password-forget">Forget password?</a>-->

<!--<div class="register">-->
<!--<span>Don't have a account?</span>-->
<!--<a class="register-link" [routerLink]="['../register']">Sign up</a>-->
<!--</div>-->
<!--</footer>-->
