@import 'variables';
@import 'mixins';

:host {
  align-items: center;
  background: $hb-login-background-color;
  color: $hb-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  .login-header {
    display: flex;
    flex-direction: column;
  }

  .login-content {
    display: flex;
    flex-direction: column;

    .login-form {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: $hb-gutter-size;

      .floating-label-input {
        input:focus {
          ~ hb-icon {
            fill: $hb-white;
          }
        }

        hb-icon {
          @include size(14px);
          @include position(absolute, 18px 0 0 12px);
          fill: $hb-input-not-active;
        }

        > input,
        > label {
          padding-left: $hb-gutter-size * 2;
        }
      }
    }
  }

  .login-footer {
    align-items: center;
    color: $hb-input-not-active;
    display: flex;
    flex-direction: column;
    font-size: 16px;

    .password-forget {
      padding-bottom: $hb-gutter-size;
      border-bottom: 1px solid $hb-input-not-active;
      text-align: center;
      width: 100%;

      &:active {
        color: $hb-white;
      }
    }

    .register {
      margin-top: $hb-gutter-size;

      &-link {
        color: $hb-white;
        font-weight: 700;
        margin-left: $hb-gutter-size-small;
        text-decoration: none;
      }
    }
  }
}
